<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SSO example Client</title>
</head>
<body>
    <h1>this is client side of SSO example</h1>
    <% if(!locals.isAuth){ %>
        <h3><a href="http://localhost:3000/login">to Login click here</a></h3>
    <% } %>
    <% if (locals.isAuth){ %>
        <h3><a href="http://localhost:3000/logout">click here to logout</a></h3>
    <% } %>
    
    <h3><a href="/userInfo">click for user information</a></h3>
       
</body>
</html>